# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**

### - Create a new Jupyter notebook
### - List the popular languages that Data Scientist use
### - List commonly used libraries used by Data Science
### - Create a single column table
### - Evaluate arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:

### 1. Phyton
### 2. R
### 3. SQL
### 4. Julia
### 5. Matlab
### 6. Scala

### Some of the commonly used libraries used by Data Scientists include:
### A. Pandas
### B. Numpy
### C. Scikit-learn
### D. Matplotlib
### E. TensorFlow/Pytorch

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|VS Code|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60.
(200/60)

3.3333333333333335

## **Author**
##### Herikson Garcia